<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Phishing Prediction</title>
</head>
<body>
    <h1>Email Phishing Prediction</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="email_text">Enter Email Text:</label><br>
        <textarea id="email_text" name="email_text" rows="4" cols="50"></textarea><br>
        <label for="email_file"> Or upload an email file (.txt, .eml,.pdf):</label><br>
        <input type="file" name="email_file" accept=".txt,.eml,.pdf"><br><br>
        <button type="submit">Check Email</button>
    </form>
    {% if prediction is defined %}
        <h2>Prediction: {{ prediction }}</h2>
    {% endif %}
</body>
</html>
